.form-container{
    margin: 10rem auto;
    background-color: #00070d;
    padding: 5rem 20rem;
    border-radius: 1rem;
}

form{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
    button{
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 1.5rem;;
        flex-basis: 100%;
        font-size: 2rem;
        background-color: rgb(53, 231, 115);

        transition: .3s;
    }
    button:hover{
        background-color:rgba(2, 58, 118, 0.93);
        color: #fff;
        border: .1rem solid white;
    }
    
}

.input-field{
    height:10rem;

    input, textarea{
        height: 5rem;
        font-size: 2rem;
    }
}