/* configuracion */
    :root{
        /* colores principales */
        --color-primary-2: #247ac5;
        --color-primary: #0a9b6b;
        --color-primary-dark: #2f5bad;
        --color-primary-dark: #1b9fa1;

        /* colores de fondo */
        --color-secondary: #2a363b;
        --color-background-dark:  #11161b;
        --color-font-light: #fff;
        --color-font-dark: #000;

        /* colores de tablas */
        --color-table-background: #212a33;
        --color-table-header: #00070d;
        --color-table-border: rgb(0, 97, 177);
    }

/* snippet para aplicar box-sizing por default  / Normalize */

    html {
        box-sizing: border-box; 
        font-size: 62.5%;
    }
    *, *:before, *:after {
        box-sizing: inherit; 
    }
    body {
        background-color: var(--color-background-dark);
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.6rem;
        line-height: 2;
        text-align: justify;
    }

/* Utilidades */

    .btn-primary {
        background-color: var(--color-primary);
        color: #ffffff;
        margin: 0 3rem;
        padding: 1rem 5rem;
        border-radius: 3rem;
        transition: background-color .3s ease-out;
    }
    .btn-primary:hover {
        background-color: var(--color-primary-dark);
    }
    
    .btn-back {
        background-color: #2f3031;
        color: #ffffff;
        margin: 0 3rem;
        padding: 1rem 2rem;
        border-radius: 3rem;
        border: .2rem solid #fff ;
        transition: background-color .3s ease-out;
    }
    .btn-back:hover {
        background-color: white;
        color: black;
        border: .2rem solid #11161b ;
    }

/* Globales */

    .container-principal{
        margin: 0rem 1rem;
    }
    .container{
        width: 110rem;
        margin: 0 auto;
    }
    a{
        color: var(--color-font-dark); 
        text-decoration: none;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3rem;
        color:#c2e9f9;
    }
    h3{
        font-size: 3rem;
    }

    button{
        border: none;
        background: none;
        cursor: pointer;
        margin: 0 .7rem;
        font-size: 2rem;
        transition: 0.2s;
    }

    button:hover{
        transform: scale(1.1);
    }


/* header */

    header{
        background-color: var(--color-primary);
        padding: 1rem 0rem;
    }
    header h1{
        color: rgb(38, 37, 37);
        margin: 0 2rem;
    }
    header p{
        text-align: center;
    }

/* navegacion principal */
    .nav-principal{
        display: flex;
        background-color: #2a363b;
        color: var(--color-font-light);
        flex-direction: row;
        justify-content: center;
        /* border-radius: 4rem; */
        margin-top: 1rem;
    }

    .info{
       display: flex;
       justify-content: space-between;
       margin: 0 auto;
       width: 90%;
       height: 4rem;
    }
    .info button{
       flex-basis: 7%;
    }

/* tabla de contenido */

table {
      border-collapse: collapse;
      width: 90%;
      margin: 2rem auto;
      background-color: var(--color-table-background);
    }
    th, td {
      border: .1rem solid var(--color-table-border);
      padding: 1rem;
      text-align: left;
      text-align: justify;
    }
    th {
      background-color: var(--color-table-header);
      color: var(--color-font-light);
    }
    
    /* botones de accion de tabla*/
    .td-acciones, .td-id{
        text-align: center;
        background-color: var(--color-table-header);
        white-space: nowrap;
    }

    .btn-add{
        background-color: var(--color-primary-2);
        border-radius: 1.5rem;
        color: var(--color-table-header);
        font-size: 3rem;
        text-align: center;
    }
    .btn-editar i {
        color:#F1A524;
    }
    .btn-eliminar i{
        color:#FF6D7A;
    }

/* footer */

footer{
    background-color: #0a0d10;
    padding: 1rem;
    text-align: center;
}